<!DOCTYPE <html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>
  body { padding-top:50px; }
</style>
  <meta charset="UTF-8">
  <title>Toko Sejahtera - Halaman Admin</title>
</head>
<body>
<div class="container">
  <h1>Menu Administrator</h1>
  <p>Proyek Ulangan Akhir Semester Pengantar Pemrograman Full Stack</p>
  <a href="/" class="btn btn-info" role="button">Halaman Toko</a>
  <a href="/admin" class="btn btn-info" role="button">Halaman Admin</a>
  <a href="/tambah-supplier" class="btn btn-info" role="button">Tambah Supplier</a>
  <a href="/data-supplier" class="btn btn-info" role="button">Data Supplier</a>
</div>
<div class="container">
  <hr>
  <div class="container">
  <h3>Manajemen Data Supplier</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nama Supplier</th>
        <th scope="col">Alamat</th>
        <th scope="col">No Telepon</th>
        <th scope="col">Aksi</th>
      </tr>
    </thead>
    <tbody>
      <% cds.forEach(function(details) { %>
      <tr>
        <td><%= details.namasupplier %></td>
        <td><%= details.alamat %></td>
        <td><%= details.notelepon %></td>
        <td><a href="/edit-supplier/<%=details._id%>" class="btn btn-primary">Edit</a> <a href="/hapus-supplier/<%=details._id%>" class="btn btn-primary">Hapus</a>
      </tr>
      <% }) %>
    </tbody>
  </div>
</div>
</body>
</html>